* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg);
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #07575786;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

#slogan {
  margin-bottom: 20px;
  font-size: small;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  margin: 10px;
  padding: 10px;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

button {
  width: 25%;
  padding: 10px;
  background-color: #0008ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0006b3;
}

#weather-info {
  margin-top: 20px;
}

#city-name {
  padding: 5px;
}

#temperature {
  padding: 5px;
}

#description {
  padding: 5px;
}

#wind-speed {
  padding: 5px;
}

#visibility {
  padding: 5px;
}

.hidden {
  display: none;
}

#error-message {
  color: #ff5722;
  margin-top: 20px;
}
